/test_config.json
/4ifir_release_bot.session
/4ifir_release_bot.session-journal
/config.json
__pycache__
4ifir_release_bot.session
4ifir_release_bot.session-journal
config.json
test_config.json
*.session
log.txt